body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh;*/
    margin: 0;
}

/* NAV 
nav li {
    display: inline;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}
*/
/* CONTAINER */
#container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* para que ocupe el espacio disponible en el body */
}

/* HEADER */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%;
    height: 100%;*/
    overflow: hidden;
    z-index: -1;
}

.background-video video {
    /*width: 100%;
    height: 100%;*/
    object-fit: cover;
}

header {
    position: relative;
    /*width: 100%;
    height: 20em;*/
    color: white;
}

.titulo-principal {
    position: relative;
    z-index: 1;
    /*  margin: 10em 0 0 0.5em;*/
}

/* SECTION */

.section-home {
    flex-grow: 1;
    /* esta sección llenará el espacio restante entre el header y el footer */
    display: flex;
    flex-direction: column;
}

.subtitulo {
    /* width: 15em;*/
    text-transform: uppercase;
    background-color: #fff;
    /* padding: 0.5em;
    margin: 0.5em;*/
}

.section-home p:last-child {
    background-color: tomato;
    text-align: center;
    /* width: 25em;*/
}

/* FOOTER */

footer p {
    color: #fff;
}