body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh;*/
    margin: 0;
}

/* NAV 
nav li {
    display: inline;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}
*/
/* CONTAINER */
#container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* para que ocupe el espacio disponible en el body */
}

/* HEADER */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%;
    height: 100%;*/
    overflow: hidden;
    z-index: -1;
}

.background-video video {
    /*width: 100%;
    height: 100%;*/
    object-fit: cover;
}

header {
    position: relative;
    /*width: 100%;
    height: 20em;*/
    color: white;
}

.titulo-principal h1 {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
}


/* SECTION */

.subtitulo {
    /* width: 15em;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #fff;
    text-align: left;
    width: fit-content;
    /* El ancho se ajusta al contenido */
    padding: 0.5em;
    margin: 0.5em 0;
}

.subtitulo-dos p:first-child {
    font-weight: 700;
    background-color: tomato;
    text-align: right;
    /* width: 25em;*/
}

/* FOOTER */
footer p {
    color: #fff;
}